body {
  font-size: 22px;
  line-height: 1.5;
  font-style: "APPLE SD Gothic NEO", "Nanum Gothic", "sans-serif";
  margin: 0;
  height: 10000px;
}
.header {
  position: fixed;
  width: 100%;
  background: #1ac;
}
.header-wrap {
}
.header-wrap::after {
  content: '';
  display: block;
  clear: both;
}

.btn-menu {
  float: left;
  margin: 20px 20px
}
h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  /* border: 1px solid red; */
}
.menu-other {
  float: right;
  margin: 17px 20px;
}
.menu-other::after {
  content: '';
  display: block;
  clear: both;
}
.btn-search {
  position: relative;
  top: -3px;
}
a {
  text-decoration: none;
}
.button {}

.menu-open {
  position: absolute;
  width: 100%;
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}
.menu-open li a {
  display: block;
  border-left: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}
.menu-large {
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}
.menu-large::after {
  content:'';
  display: block;
  clear: both;
}
.menu-open .menu-large li {
  float: left;
  width: 10%;
  text-align: center;
  list-style: none;
}
.menu-large li:first-child a {
  border-left: 0;
  /* border: 1px solid #000000; */
}
.menu-small {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
.menu-small li {
  float: left;
  width: 50%;
  list-style: none;
}
.menu-small li:first-child a {
  border-left: 0;
}